export(alfa,c4,const.table,d2,d3,dataindI,dataindII,datasubI,datasubII,estatauxind,estatauxsub,grafXR,graphindI,graphindII,graphsubI,graphsubII,PchartI,PchartII,PextI,PextII,PstdI,PstdII,Raprox,Rexact,removeind,removesub,Saprox,Sexact,T2indI,T2indII,T2subI,T2subII,tukeyq,UchartI,UchartII,UextI,UextII,updateind,updatesub,UstdI,UstdII,xbarI,xbarII)
